:root {
  --violet: #7E33E0;
  --pink:#FB2E86;
  --red: #FB2448;
  --text: #151875;
  --text-secondary: #8A8FB9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input[type='submit'] {
  border: none;
}

img {
  object-fit: contain;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1154px;
  margin: auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.grow {
  flex-grow: 1;
}

.wrap {
  flex-wrap: wrap;
}

.gap-30 {
  gap: 30px;
}

.select-reset {
  appearance: none;
  background: none;
  border: none;
}
