.input {
  display: block;
  width: 317px;
  border: 2px solid #e7e6ef;
}

.submit {
  width: 50px;
  transition: 0.3s ease-in-out;
  background: var(--pink) url('/ui/search.svg') no-repeat center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    background-color: var(--red);
  }
}
