.wrapper {
  padding: 99px 0 36px;
}

.subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: var(--pink);
}

.title {
  margin-top: 12px;

  font-size: 53px;
  line-height: 82px;
  letter-spacing: 0.015em;
}

.description {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;

  color: var(--text-secondary);
}

.link {
  margin-top: 27px;
  padding: 16px 40px;
  background-color: var(--pink);
  color: white;
  max-width: max-content;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
